aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-types==0.8.0
anthropic==1.4.0
anyio==4.15.1
attrs==26.1.0
audioop-lts==0.2.2
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.1
comtypes==1.4.16
docopt==0.6.2
docstring_parser==0.18.0
edge-tts==7.2.8
frozenlist==1.8.0
h11==0.16.0
httpcore2==2.12.0
httpx2==2.12.0
idna==3.19
jiter==0.16.0
Js2Py==0.74
MouseInfo==0.1.3
multidict==6.7.1
numpy==2.5.3
opencv-python==5.0.0.93
packaging==26.3
pedalboard==0.9.24
propcache==0.5.2
psutil==7.2.2
PyAudio==0.2.14
pyautogui==0.9.54
pydantic==2.13.5
pydantic_core==2.46.5
pydub==0.25.1
pygame==2.6.1
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==2.0.1
pyperclip==1.11.0
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.19.0
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
python-dotenv==1.2.3
pyttsx3==2.99
pytweening==1.2.0
pywin32==312
requests==2.34.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.9.2
SpeechRecognition==3.17.0
standard-aifc==3.13.0
standard-chunk==3.13.0
tabulate==0.10.0
truststore==0.10.4
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
yarl==1.24.5
